:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #fff;
  --title-bgc: #2f303a;
  --secondary-bgc: #f5f4fa;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --contract-color: rgba(255, 255, 255, 0.6);
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
