.filter {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;

  &.links {
    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.filter__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  line-height: 26px;
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  border: transparent;
  color: var(--title-text-color);
  background-color: var(--secondary-bgc);
  transition: color 250ms var(--animation-timing-function),
    background-color 250ms var(--animation-timing-function),
    box-shadow 250ms var(--animation-timing-function);

  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.project-list {
  margin-top: 50px;

  @media (min-width: 768px) and (max-width: 1199px) {
    margin: -15px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-list__item {
  /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
  /* width: calc((100%-60px)/3); */
  /* margin: 15px; */

  &:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 30px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}

.project-list__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--animation-timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-list__description {
  overflow: hidden;
  position: relative;

  &:hover,
  &:focus {
    transform: translateY(0);
  }
}

.project-list__text {
  display: inline-block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--animation-timing-function) 250ms;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  .project-list__link:hover &,
  .project-list__link:focus & {
    transform: translateY(0);
  }
}

.project-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-box__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  @media (min-width: 768px) and (min-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.project-box__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
