.benefits-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1600px) {
    margin: -15px;
  }
}

.benefits-list__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1600px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.benefits-list__box {
  display: flex;
  justify-content: center;
  // align-items: center;
  margin-bottom: 30px;

  height: 120px;
  background-color: var(--secondary-bgc);
  border-radius: 4px;
  fill: var(--title-text-color);

  // @media screen and (min-width: 1600px) {
  //   width: 270px;
  // }
}

.benefits-list__icon {
  display: flex;
  width: 70px;
  fill: var(--title-text-color);
  background-size: contain;
  background-repeat: no-repeat;
}

.benefits-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
}

.benefits-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  // @media screen and (min-width: 1600px) {
  //   max-width: 270px;
  // }
}
